# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
decide

# Debug files
*.dSYM/
*.su

# Vi files
*~
*.swp

# Hosfile
hostfile

# TeX files
*.aux
*.log
*.nav
*.toc

# Original files (so we dont have to track changes on defines)
./original/*
